@model CategoryModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add category</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center">Add category</h2>
        <div class="row justify-content-center">
            <div class="col-md-6">
                @using (Html.BeginForm("AddCategory", "Admin", FormMethod.Post))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group text-center">
                        <input type="submit" value="Add Category" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>